<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="UTF-8">
        <title>{{setting.title}}</title>
        <link rel="shortcut icon" href="assets/img/pavicon.png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <meta name="keywords" content="hosting, hosting murah, vps murah, membuat website, web hosting, hosting indonesia, hosting terbaik, web hosting indonesia, hosting terbaik indonesia, hosting dan domain gratis, hosting indonesia terbaik, web hosting terbaik, web hosting murah, hosting murah indonesia, hosting murah unlimited, cloud hosting indonesia, cloud vps indonesia" />
        <meta name="dcterms.subject" content="niagahoster, hosting niagahoster, hosting murah niagahoster, vps murah niagahoster, web hosting niagahoster, hosting indonesia niagahoster, hosting terbaik niagahoster, web hosting indonesia, hosting terbaik indonesia, hosting dan domain gratis, hosting indonesia terbaik, web hosting terbaik, web hosting murah, hosting unlimited niagahoster, cloud hosting niagahoster, cloud vps niagahoster" />
        <meta name="dcterms.type" content="Service" />
        <meta name="dcterms.language" content="id" />
        <meta property="fb:app_id" content="212913279095490" />
        <meta property="og:url" content="https://www.niagahoster.co.id/" />
        <meta property="og:title" content="Web Hosting Indonesia Terbaik, Murah & Unlimited - Niagahoster" />
        <meta property="og:description" content="Web hosting terbaik di Indonesia dengan fitur keamanan &amp; kecepatan untuk website yang optimal. Harga terjangkau - Diskon up to 75%" />
        <meta property="og:image" content="https://niagaspace.sgp1.cdn.digitaloceanspaces.com/bb-uploads/tinymce/media/logo-niagahoster-1615379570.png" />
        <meta property="og:site_name" content="Niagahoster" />
        <meta property="og:type" content="website" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@Niagahoster" />
        <meta name="twitter:title" content="Web Hosting Indonesia Terbaik, Murah & Unlimited - Niagahoster" />
        <meta name="twitter:description" content="Web hosting terbaik di Indonesia dengan fitur keamanan &amp; kecepatan untuk website yang optimal. Harga terjangkau - Diskon up to 75%" />
        <meta name="twitter:image" content="https://niagaspace.sgp1.cdn.digitaloceanspaces.com/bb-uploads/tinymce/media/logo-niagahoster-1615379570.png" />
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                font-size: 3.5rem;
                }
            }
        </style>

        <link href="assets/style.css" rel="stylesheet">
        <script src="https://use.fontawesome.com/582f80e510.js"></script>
    </head>
    <body>
        <header>
            <nav class="site-header py-1">
                <div class="container d-flex flex-column flex-md-row justify-content-end link-top">
                    <a class="py-2 d-none d-md-inline-block mr-3" href="#"><i class="fa fa-phone" aria-hidden="true"></i> {{setting.phone}}</a>
                    <a class="py-2 d-none d-md-inline-block mr-3" href="#"><i class="fa fa-comments" aria-hidden="true"></i> Live Chat</a>
                    <a class="py-2 d-none d-md-inline-block" href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Member Area</a>
                </div>
            </nav>
            <nav class="navbar navbar-expand-md py-2 border-top border-bottom">
                <div class="container">
                    <a class="navbar-brand" href="#"><img src="assets/img/niagahoster-logo.png" height="70"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav navbar-right ml-auto">
                            {% for menu in setting.navbar_menu %}
                            <li class="nav-item">
                                <a class="py-2 ml-4 text-dark" href="#">{{menu}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section>
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="jmbrt-head">PHP Hosting</h1>
                            <h4 class="sub-head">Cepat, handal, penuh dengan modul PHP yang Anda butuhkan</h4>
                            <ul class="list-unstyled pl-0 content-head">
                                <li class="mb-2"><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Solusi PHP untuk performa query yang lebih cepat</li>
                                <li class="mb-2"><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Konsumsi memori yang lebih rendah</li>
                                <li class="mb-2"><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Support PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6, PHP 7</li>
                                <li class="mb-2"><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Fitur enkripsi IonCude dan Zend Guard Loaders</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <img src="https://raw.githubusercontent.com/bylabz/frontend-test/master/assets/svg/illustration%20banner%20PHP%20hosting-01.svg" alt="" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <article>
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-4 text-center">
                        <div class="row">
                            <div class="col-md-12" style="min-height: 180px;">
                                <img src="https://raw.githubusercontent.com/bylabz/frontend-test/master/assets/svg/illustration-banner-PHP-zenguard01.svg" alt="" style="margin-top: 15%;">
                            </div>
                            <div class="col-md-12">
                                PHP Zend Guard Loader
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="row">
                            <div class="col-md-12 align-middle" style="min-height: 180px;">
                                <img src="https://raw.githubusercontent.com/bylabz/frontend-test/master/assets/svg/icon-composer.svg" alt="" class="mt-auto">
                            </div>
                            <div class="col-md-12">
                                PHP Composer
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="row">
                            <div class="col-md-12 align-middle" style="min-height: 180px;">
                                <img src="https://raw.githubusercontent.com/bylabz/frontend-test/master/assets/svg/icon-php-hosting-ioncube.svg" alt="" style="margin-top: 15%;">
                            </div>
                            <div class="col-md-12">
                                PHP IonCube Loader
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-md-12 align-middle text-center">
                        <h3 class="head-middle">Paket Hosting Singapura yang Tepat</h3>
                        <p class="content-middle">
                            Diskon 40% + Domain dan SSL Gratis untuk Anda
                        </p>
                    </div>
                </div>

                <div class="col-md-12 mb-5">
                    <div class="card-deck mb-3 text-center">
                        {% for paket in content.products %}
                        <div class="card mb-4 mr-0 ml-0 shadow-sm {% if paket.is_popular == true %} border-primary {% endif %}" style="height:max-content !important;">
                            <div class="card-header {% if paket.is_popular == true %} bg-primary text-white border-primary {% else %} bg-white {% endif %}">
                                <h4 class="my-0 head-package">{{paket.name}}</h4>
                            </div>
                            <div class="card-body p-0 pb-3">
                                <div style="{% if paket.is_popular == false %} border-bottom: 1px solid #ddd; {% else %} border-bottom: 1px solid #007bff; {% endif %}" class="p-2 {% if paket.is_popular == true %} bg-primary text-white {% endif %}">
                                    <s>Rp{{paket.price |number_format(0, ',', '.')}}</s>
                                    <br>
                                    <span class="jmbrt-head">{{paket.promo_price |number_format(0, ',', '.')}}</span><span>/ bln</span>
                                </div>
                                <div style="border-bottom: 1px solid #ddd;" class="p-2 {% if paket.is_popular == true %} bg-primary-paket text-white {% endif %}">
                                    <b>{{paket.customer_total|number_format(0, ',', '.')}}</b> Pengguna Terdaftar
                                </div>
                                <div class="py-3">
                                    {{paket.description | raw}}
                                </div>

                                <a href="http://" class="btn {% if paket.is_popular == true %} btn-outline-primary btn-primary-custom {% else %} btn-outline-secondary btn-secondary-custom {% endif %} rounded-pill btn-xl">Pilih Sekarang</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-12 text-center mb-4">
                        <h3 class="head-middle-thin">Powefull dengan Limit PHP yang lebih besar</h3>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-bordered table-striped float-right table-perform">
                            <tr>
                                <td><i class="fa fa-check-circle text-success" aria-hidden="true"></i> max execution time 300s</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-check-circle text-success" aria-hidden="true"></i> max execution time 300s</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-check-circle text-success" aria-hidden="true"></i> php memory limit 1024 MB</td>
                            </tr>
                        </table>

                    </div>
                    <div class="col-md-6">
                        <table class="table table-bordered table-striped float-left table-perform">
                            <tr>
                                <td><i class="fa fa-check-circle text-success" aria-hidden="true"></i> post max size 128 MB</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-check-circle text-success" aria-hidden="true"></i> upload max filesize 128 MB</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-check-circle text-success" aria-hidden="true"></i> max input vars 2500</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center mb-5">
                        <h3 class="head-middle-thin">Semua Paket Hosting Sudah Termasuk</h3>
                    </div>
                    <div class="col-md-4 text-center mb-5">
                        <img src="https://raw.githubusercontent.com/bylabz/frontend-test/master/assets/svg/icon%20PHP%20Hosting_PHP%20Semua%20Versi.svg" alt="" height="70">
                        <br>
                        <h4 class="head-package mt-4">PHP Semua Versi</h4>
                        <p class="content-package">Pilih mulai dari versi PHP 5.3 s/d PHP 7. Ubah sesuka Anda!</p>
                    </div>
                    <div class="col-md-4 text-center mb-5">
                        <img src="https://raw.githubusercontent.com/bylabz/frontend-test/master/assets/svg/icon%20PHP%20Hosting_My%20SQL.svg" alt="" height="70">
                        <br>
                        <h4 class="head-package mt-4">MySQL Versi 5.6</h4>
                        <p class="content-package">Nikmati MySQL versi terbaru, tercepat dam kaya akan fitur</p>
                    </div>
                    <div class="col-md-4 text-center mb-5">
                        <img src="https://raw.githubusercontent.com/bylabz/frontend-test/master/assets/svg/icon%20PHP%20Hosting_CPanel.svg" alt="" height="70">
                        <br>
                        <h4 class="head-package mt-4">Panel Hosting cPanel</h4>
                        <p class="content-package">Kelola website dengan panel canggih yang familiar di hati Anda</p>
                    </div>
                    <div class="col-md-4 text-center mb-5">
                        <img src="https://raw.githubusercontent.com/bylabz/frontend-test/master/assets/svg/icon%20PHP%20Hosting_garansi%20uptime.svg" alt="" height="70">
                        <br>
                        <h4 class="head-package mt-4">Garansi Uptime 99.9%</h4>
                        <p class="content-package">Data center yang mendukung kelangsungan website Anda 24/7.</p>
                    </div>
                    <div class="col-md-4 text-center mb-5">
                        <img src="https://raw.githubusercontent.com/bylabz/frontend-test/master/assets/svg/icon%20PHP%20Hosting_InnoDB.svg" alt="" height="70">
                        <br>
                        <h4 class="head-package mt-4">Database innoDB Unlimited</h4>
                        <p class="content-package">Jumlah dan ukuran database yang tumbuh sesuai kebutuhan Anda</p>
                    </div>
                    <div class="col-md-4 text-center mb-5">
                        <img src="https://raw.githubusercontent.com/bylabz/frontend-test/master/assets/svg/icon%20PHP%20Hosting_My%20SQL%20remote.svg" alt="" height="70">
                        <br>
                        <h4 class="head-package mt-4">Wilcard Remote MySQL</h4>
                        <p class="content-package">Mendukung s/d 25 max_user_connections dan 100 max_connections.</p>
                    </div>
                </div>
            </div>
        </article>
        <section>
            <div class="border-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center mb-4">
                            <h3 class="head-middle-thin">Mendukung Penuh Framework Laravel</h3>
                        </div>
                        <div class="col-md-6">
                            <p class="content-laravel-top">
                                Tak perlu menggunakan dediacted server ataupun VPS yang mahal. Layanan PHP hosting murah kami mendukung penuh framework favorit Anda
                            </p>
                            <ul class="pl-0 list-unstyled">
                                <li class="mb-2"><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Install Laravel <b>1 klik</b> dengan Softaculous Installer.</li>
                                <li class="mb-2"><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Mendukung ekstensi <b>PHP MCrypt, phar,mbstring,json,</b> dan <b>fileinfo.</b></li>
                                <li class="mb-2"><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Tersedia <b>Composer</b> dan <b>SSH</b> untuk menginstal packages pilihan Anda.</li>
                            </ul>
                            <br>
                            <span style="color:dimgrey;font-size: .8rem;">Nb. Composer dan SSH hanya tersedia pada paket Personal dan Bisnis</span>
                            <br>
                            <br>
                            <a href="http://" class="btn btn-outline-primary btn-primary-custom rounded-pill btn-lg">Pilih Hosting Anda</a>
                        </div>
                        <div class="col-md-6">
                            <img src="https://raw.githubusercontent.com/bylabz/frontend-test/master/assets/svg/illustration%20banner%20support%20laravel%20hosting.svg" alt="" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container mt-5">
                <div class="row px-5">
                    <div class="col-md-12 text-center mb-5">
                        <h3 class="head-middle-thin">Modul Lengkap untuk Menjalankan Aplikasi PHP Anda.</h3>
                    </div>
                    <div class="col-md-3">
                        <ul class="pl-0 list-unstyled">
                            {% for m_one in content.modul_one %}
                                <li>{{ m_one }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="pl-0 list-unstyled">
                            {% for m_two in content.modul_two %}
                                <li>{{ m_two }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="pl-0 list-unstyled">
                            {% for m_three in content.modul_three %}
                                <li>{{ m_three }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="pl-0 list-unstyled">
                            {% for m_four in content.modul_four %}
                                <li>{{ m_four }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-12 text-center my-4">
                        <a href="http://" class="btn btn-outline-secondary btn-secondary-custom rounded-pill btn-lg">Selengkapnya</a>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <h4 class="sub-head">Linux Hosting yang Stabil <br>dengan Teknologi LVE</h4>
                        <br>
                        <p>SuperMicro <b>Intel Xeon 24-Cores</b> server dengan RAM <b>128 GB</b> dan teknologi <b>LVE CloudLinux</b> untuk stabilitas server Anda. Dilengkapi dengan <b>SSD</b> untuk keepatan <b>MySQL</b> dan caching. Apache load balancer berbasis LiteSpeed Technologies, <b>CageFS</b> Security. <b>Raid-10</b> protection dan auto backup untuk keamanan website PHP Anda</p>

                        <a href="http://" class="btn btn-outline-primary btn-primary-custom rounded-pill btn-lg">Pilih Hosting Anda</a>
                    </div>
                    <div class="col-md-6">
                        <img src="https://raw.githubusercontent.com/bylabz/frontend-test/master/assets/images/Image%20support.png" alt="" width="100%">
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="footer-grey">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 align-middle">
                            <b>Bagikan jika Anda menyukai halaman ini</b>
                        </div>
                        <duv class="col-md-6">
                            <a href="http://" style="color: royalblue;font-size: 35px;margin-right: 10px;"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                            <a href="http://" style="color: dodgerblue;font-size: 35px;margin-right: 10px;"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                            <a href="http://" style="color: firebrick;font-size: 35px;margin-right: 10px;"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                        </duv>
                    </div>
                </div>
            </div>

            <div class="footer-blue">
                <div class="container">
                    <div class="row py-4">
                        <div class="col-md-8 text-white content-help">
                            Perlu <b>BANTUAN?</b> Hubungi Kami: <b>{{setting.phone}}</b>
                        </div>
                        <div class="col-md-4">
                            <a href="http://" class="btn btn-outline-secondary border-white rounded-pill btn-lg align-middle px-5" style="color: white !important;font-weight: bold;border: 2px solid;"><i class="fa fa-comments mr-3" aria-hidden="true"></i>Live Chat</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="pt-5 pt-md-5 text-white bg-footer">
            <div class="container" style="font-size: 1rem !important;">
                <div class="row mb-5">
                    <div class="col-6 col-md">
                        <h6 class="mb-4 head-footer">HUBUNGI KAMI</h6>
                        <ul class="list-unstyled text-small">
                            {{setting.phone}} <br>
                            {{setting.time}} <br><br>
                            {{setting.address}}
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h6 class="mb-4 head-footer">LAYANAN</h6>
                        <ul class="list-unstyled text-small">
                        {% for serv in setting.service %}
                            <li class="mb-1"><a href="#">{{ serv }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h6 class="mb-4 head-footer">SERVICE HOSTING</h6>
                        <ul class="list-unstyled text-small">
                        {% for serv_h in setting.service_hosting %}
                            <li class="mb-1"><a href="#">{{ serv_h }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h6 class="mb-4 head-footer">TUTORIAL</h6>
                        <ul class="list-unstyled text-small">
                        {% for tut in setting.tutorial %}
                            <li class="mb-1"><a href="#">{{ tut }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-6 col-md">
                        <h6 class="mb-4 head-footer">TENTANG KAMI</h6>
                        <ul class="list-unstyled text-small">
                        {% for abt in setting.about_us %}
                            <li class="mb-1"><a href="#">{{ abt }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h6 class="mb-4 head-footer">KENAPA PILIH NIAGAHOSTER</h6>
                        <ul class="list-unstyled text-small">
                        {% for why in setting.why_us %}
                            <li class="mb-1"><a href="#">{{ why }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h6 class="mb-4 head-footer">NEWSLETTER</h6>
                        <input class="form-control form-control-lg p-4" type="email" style="max-width: 250px;border-radius: 20px;" placeholder="Email">
                        <br>
                        <p class="text-muted">
                            Dapatkan promo dan konten menarik
                            <br>
                            dari penyedia hosting terbaik anda
                        </p>
                    </div>
                    <div class="col-6 col-md pt-5">
                        <a href="http://" style="border-radius: 50%;border: 2px solid #ddd;padding: 10px 17px 10px 17px;color: #ddd;font-size: 20px;margin-right: 10px;"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="http://" style="border-radius: 50%;border: 2px solid #ddd;padding: 10px 13px 10px 13px;color: #ddd;font-size: 20px;margin-right: 10px;"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="" style="border-radius: 50%;border: 2px solid #ddd;padding: 10px 10px 10px 10px;color: #ddd;font-size: 20px;margin-right: 10px;"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h6 class="mb-4 head-footer">PEMBAYARAN</h6>
                        <img src="assets/svg/bca.svg" class="payment-method">
                        <img src="assets/svg/mandiri.svg" alt="" class="payment-method">
                        <img src="assets/svg/bni.svg" alt="" class="payment-method">
                        <img src="assets/svg/visa.svg" alt="" class="payment-method">
                        <img src="assets/svg/master.svg" alt="" class="payment-method">
                        <img src="assets/svg/atm-bersama.svg" alt="" class="payment-method">
                        <img src="assets/svg/alto.svg" alt="" class="payment-method">
                        <br><br>
                        <span class="text-muted">Aktifasi instan dengan e-Payment. Hosting dan domain langsung aktif</span>
                        <hr>
                    </div>
                </div>
                <div class="row pb-5">
                    <div class="col-md-8">
                        <span style="font-size: 0.8rem;">Copyright &copy; 2021 Niagahoster | Hosting powered by PHP7, CloudLinux, CloudFlare, BitNinja and DC DCI Biznet Technovillage Jakarta. </span>
                        <br>
                        <span style="font-size: 0.8rem;">VPS Murah powered by Webuzo Softaculous, Intel SSD and cloud computing technology</span>
                    </div>
                    <div class="col-md-4" style="font-size: 0.8rem;">
                        Syarat dan ketentuan | Kebijakan Privasi
                    </div>
                </div>

            </div>
        </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

    </body>
</html>
